<h1><%= @cats.name %><h1>

<h3>Color: <%= @cats.color%></h3>
<h3>Birth_date: <%= @cats.birth_date%></h3>
<h3>Age: <%= @cats.age%></h3>
<h3>Sex: <%= @cats.sex%></h3>
<p>Description:
  <%= @cats.description%>
</p>
